
.landing__navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(0,0,0, .4);
    height: 100%;
    padding: 5px 40px;
    z-index: 999;
    position: relative;
    top: 0;
}

.landing__navbar-links{
    display: flex;
    gap: 30px;
    
}
.landing__navbar-links__container p{
    transition: all 400ms ease-in-out;
}
.landing__navbar-links__container p:hover{
    text-decoration: underline;
}
.landing__navbar-links__container{
    display: flex;
    gap: 20px;
    padding-top: .4rem;
}

.landing__navbar-signin{
    display: flex;
    /* gap: 15px; */
    flex-direction: row;
    justify-content: center;
} 

.sign-up {
    margin: 0.25rem 0.8rem 0 0;
    font-weight: 400;
}

.landing__navbar-links__container a{
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
}
.landing__navbar-signin a{
 font-size: 1.2rem;
 text-decoration: none;
 color: #000;
 padding-top: .7rem;
}
.landing__navbar-signin button{
    border: none;
    background: linear-gradient(to bottom, rgb(117, 6, 106), rgb(186, 11, 209));
    border-radius: .5rem;
    text-align: center;
    padding: 5px 10px;
    color: white;
    font-weight: 400;
} 
.sign-up{
    margin-bottom:15px ;
}
.landing__navbar-menuicon{
    position: relative;
    display: none;
}
.landing__navbar-toggleicon{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: center;
    background:linear-gradient(to bottom, lightcoral, rgb(186, 11, 209));
    position: absolute;
    right: 0;
    top: 40px;
    width: 8rem;
    box-shadow:0 0 5px rgb(0,0,0, .4);
    padding: 10px;
    z-index: 10;
}
.landing__navbar-links__small{
   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
}

.landing__navbar-links__small a{
    text-decoration: none;
    color: white;
}


.landing__navbar-signin__small-button{
    border: none;
    background-color: aliceblue;
    border-radius: .3rem;
    padding: 5px;
    text-decoration: none;
    color: rgb(6, 1, 1);
    margin-top: 10px;
}

@media only screen and (max-width: 700px){
	.landing__navbar-menuicon{
        display: flex;
    }
    .landing__navbar-links__container{
        display: none;
    }
    .landing__navbar{
        padding: 0 2rem;
    }


}
@media only screen and (max-width: 420px){
	.landing__navbar-menuicon{
        display: flex;
    }
    .landing__navbar-links__container{
        display: none;
    }
    .landing__navbar-signin__small{
        display: block;
        padding: 5px 0;
    }
    .landing__navbar{
        padding: 0 2rem;
    }
    .landing__navbar-signin{
        display: none;
    }
  
}